body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none; /**para que todas las etiquetas de ancla no tengan decoracion**/
  cursor: pointer; /**cuando paso el cursor sobre el ancla ahora tengo una manito**/
}

header {
  width: 100%; /**para que el ancho varie**/
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  height: auto; /**para que tome de forma automatica la altura del padre (header)**/
  display: flex;/**para posicionar los elementos del nav**/
  list-style: none; /**sacamos lo bullets (las bolitas) sacamos sus estilos**/
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a { /**aqui seleccionamos nav con la clase y el elemento ancla**/
  margin-right: 10px;
  color: #000;
}

nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");/**este el el background de mi icono**/
  background-repeat: no-repeat; /**no se repite cuando se agranda la imagen**/
  background-position: center;
  background-size: contain; /**para que se aproxime al tamaño de mi contenedor**/
  width: 25px;
  height: 25px;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

main {
  margin-top: 150px;
  text-align: center;
}

main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-logo img {
  width: 272px;
  height: 92px;
}

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}